<div class="wrapper">
  <div class="account">
    <div class="cart-heading" *ngIf="shoppingCart.length === 0">
      <p class="empty">YOUR BASKET IS EMPTY</p>
      <img
        src="assets/images/shop.png"
        alt="shopping-cart"
        class="shopping-cart"
      />
    </div>
    <div class="cart-heading" *ngIf="shoppingCart.length !== 0">
      <h1>Cart</h1>
      <img
        src="assets/images/shop.png"
        alt="shopping-cart image"
        class="shopping-cart"
      />
    </div>
    <div>
      <table>
        <tr class="topics" *ngIf="shoppingCart.length !== 0">
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Remove</th>
        </tr>
        <tr *ngFor="let item of shoppingCart">
          <td>
            <img src="{{ item.image }}" alt="{{ item.title }}" width="120px" />
          </td>
          <td>{{ item.title }}</td>
          <td>{{ item.price | currency: "NIS" }}</td>
          <td>
            <div class="buttonsContainer">
              <button (click)="increment(item.id ?? '')" class="plus">+</button>
              <input type="text" [(ngModel)]="amount" class="amount" />
              <button (click)="decrement(item.id ?? '')" class="minus">
                -
              </button>
            </div>
          </td>
          <td>
            <a>
              <img
                src="../../assets/images/trash-can.png"
                alt="Trash can image"
                width="40px"
                (click)="removeBook(item.id ?? '')"
              />
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="total-price" *ngIf="shoppingCart.length !== 0">
      <button class="continue-btn">Continue</button>
      <div class="total">TOTAL : {{ totalPrice }}</div>
    </div>
  </div>
</div>
