<div class="wrapper">
  <div class="account">
    <div class="cart-heading" *ngIf="shoppingCart.length === 0">
      <p class="empty">YOUR BASKET IS EMPTY</p>
      <img
        src="assets/images/shop.png"
        alt="shopping-cart"
        class="shopping-cart"
      />
    </div>
    <div class="cart-heading" *ngIf="shoppingCart.length !== 0">
      <h1>Cart</h1>
      <img
        src="assets/images/shop.png"
        alt="shopping-cart image"
        class="shopping-cart"
      />
    </div>
    <div>
      <table>
        <tr class="topics" *ngIf="shoppingCart.length !== 0">
          <td>Image</td>
          <td>Title</td>
          <td>Price</td>
          <td>Qty</td>
          <td>Remove</td>
        </tr>
        <tr>
          <app-cart-item
            *ngFor="let item of shoppingCart"
            [cartItem]="item"
          ></app-cart-item>
        </tr>
      </table>
    </div>
    <div class="total-price" *ngIf="shoppingCart.length !== 0">
      <button class="continue-btn">Continue</button>
      <div class="total">TOTAL : {{ totalPrice }}</div>
    </div>
  </div>
</div>
