.account {
  background-color: #beb9b9;
  text-align: center;
  width: 420px;
  height: 100%;
  overflow: auto;
  position: fixed;
  bottom: 0;

  .cart-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    .empty {
      font-size: 20px;
    }
    .shopping-cart {
      width: 80px;
      margin: 30px;
    }
  }

  table {
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
    background-color: white;
    .topics,
    td,
    th {
      padding: 2px;
      box-shadow: inset 8px 8px 20px rgb(217, 214, 214);
      border: 2px solid;
    }
    .bottomContainer {
      text-align: center;
      display: flex;
      justify-content: center;
      .amount {
        width: 30px;
        text-align: center;
      }
    }
  }
}

.total-price {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  .total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 20px;
    background-color: gray;
  }
  .continue-btn {
    padding: 5px;
    width: 200px;
    background-color: #beb9b9;
  }
}
