<div class="filter">
  <label>
    Genre :
    <select (change)="selectedGenre($event)">
      <option value="horror">Horror</option>
      <option value="comedy">Comedy</option>
      <option value="action">Action</option>
      <option value="crime">Crime</option>
      <option value="romance">Romance</option>
      <option value="drama">Drama</option>
      <option value="fantasy">Fantasy</option>
      <option value="animation">Animation</option>
    </select>
  </label>
</div>

<div class="books">
  <app-book
    *ngFor="let book of books | filterByGenre: genre"
    [book]="book"
  ></app-book>
</div>
