.wrapper {
  display: flex;
  padding: 20px;

  .filter-btn-container {
    width: 400px;
    .filter-icon-btn {
      margin: 30px;
      height: 40px;
    }
    .filter-fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      width: 300px;
      background-color: aqua;

      .select-genre,
      .book-title {
        width: 150px;
      }

      .filter-btn {
        background-color: grey;
        margin-left: 50px;
        text-align: center;
      }
    }
  }
  .books {
    display: flex;
    justify-content: end;
  }
}
