.book {
  width: 350px;
  border: 2px solid;
  margin: 10px;
  height: 520px;
  text-align: center;

  .image {
    width: 350px;
    height: 200px;
  }

  .add-button {
    width: 120px;
    margin: 6px;
    padding: 4px;
    background-color: red;
    border-radius: 10px;
    &:hover {
      background-color: rgb(243, 139, 139);
    }
  }
}
